
body {
    /* background: linear-gradient(0deg,#181221,#410099); */
    /* color: #dddce9; */
    color: black;
    font-size: calc(16px + 0.2vw);
    width:100%;
    margin: 0;
}

.intro {
    height: 10vh;
    width: 100%;
    margin: 0px auto;
}

nav {
    padding: 0px 24px;
    border: 2px solid black;
}

.main-block {
    height: 80vh;
    width: 80vw;
    margin: 0px auto;
    padding: 16px;
    border: 4px solid black;
}

.kits-text-small{
    font-family: "Baskerville No 2",serif;
    font-style: normal;
    font-weight: 400;
    color: #69727b;
    line-height: 1.5;
}

.kits-text-hero{
    font-size: calc(64px + 10vw);
    margin: 0 0 17.5px;
    margin-bottom: 17.5px;
    font-family: "Caslon Bold",serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.kits-text-hero-xl {
    font-size: calc(160px + 10vw);
    /* margin: 0px auto; */
    font-family: "Caslon Bold",serif;
    font-style: normal;
    font-weight: 400;
}

.text-block {
    /* margin: 0px auto; */
    /* padding: 50px; */
    /* margin: 100px auto; */
}

.kits-text-bold{
    font-size: calc(36px + 2vw);
    margin: 0 0 17.5px;
    margin-bottom: 17.5px;
    font-family: "Caslon Bold",serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.gradient-bg {
    background: linear-gradient(0deg,#140f1b,#43029e);
}

/* page 2 */

.rotating-oval {
    width: 1000px;
    height: 5px;
    /* background-color: black; */
    border: 30px solid black;
    margin: 50px;
    /* padding: 5px; */
    position: relative;
    top: -40px; left: -140px;
}

.rotate {
    transform: rotate(30deg);
}

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
}

.top-left-block {
    grid-column: 2 / span 4;
    /* grid-row: 1/ span 2; */
    height: 160px;
}

.top-right-block {
    grid-column: 8 / span 4;
    /* grid-row: 1/ span 2; */
    height: 160px;
}

.center-block {
    grid-column: 4 / span 6;
}

.bottom-left-block {
    grid-column: 2 / span 4;
    height: 160px;
}

.bottom-right-block {
    grid-column: 8 / span 4;
    height: 160px;
}

.center-items {
    display: grid;
    place-items: center;
    text-align: center
}

.kits-text-hero-m {
    font-size: calc(40px + 2vw);
    /* margin: 0px auto; */
    font-family: "Caslon Bold",serif;
    font-style: normal;
    font-weight: 400;
}

.kits-text-hero-s {
    font-size: calc(10px + 2vw);
    /* margin: 0px auto; */
    font-family: "Caslon Bold",serif;
}

.blue {
    background-color: blue;
}

.grey {
    background-color: grey;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.rounded {
    border-radius: 10%;
}

.chibi-image {
    height: 120px;
}

.keats-text {
    font-size: 12px;
}

@media screen and (min-device-width: 720px) {
    .top-left-block {
        grid-column: 2 / span 3;
        height: 250px;
    }

    .top-right-block {
        grid-column: 9 / span 3;
        height: 250px;
    }
    
    .center-block {
        grid-column: 4 / span 6;
        height: 360px;
    }

    .bottom-left-block {
        grid-column: 2 / span 3;
        height: 250px;
    }
    
    .bottom-right-block {
        grid-column: 9 / span 3;
        height: 250px;
    }
    
    .kits-text-hero-m {
        font-size: calc(40px + 4vw);
    }

    .kits-text-hero-s {
        font-size: calc(14px + 2vw);
    }

    .chibi-image {
        height: 200px;
    }
}